:root {
  --success100: #007F00;
  --success90: #81d57f;
  --success80: #CDFFCD;
  --warning80: #D5B87F;
  --error100: #EB5757;
  --error80: #D57F7F;
  --primary100: '#3d9be8',
  --text100: '#172b4d',
  --text80: '#42526e',
  --back100: '#fdfdff',
  --back60: '#dedede',
}